<div class="w-screen h-screen bg-dark-blue flex">
    <div class=" relative w-11/12  bg-dark-grayish-blue rounded-large mr-auto ml-auto sm:mt-auto mt-28 mb-auto sm:w-2/5 flex flex-col">
        <div class="flex flex-auto h-16">
            <span class="m-auto text-neon-green uppercase font-manrope font-extrabold">a d v i c e  # 1 1 7</span>
        </div>
        <div class="flex flex-auto">
            <span class="text-light-cyan m-auto  font-manrope font-extrabold text-28 text-center pr-5 pl-5">"Et balbalbalabla lablabla alblabla alblabalabl alablabla lablaa labalbalba albalab a"</span>
        </div>
        <div class="flex flex-auto h-28 flex ">
            <div class="bg-grayish-blue h-0.1 w-full  mr-auto ml-5 mt-8 mb-auto">

            </div>
            <div class="mr-auto ml-auto mt-2 mb-auto">
                <span class="material-icons-round text-5xl text-light-cyan">
                    pause
                    </span>
            </div>
            <div class="bg-grayish-blue h-0.1 w-full mr-5 ml-auto mt-8 mb-auto pl-5">

            </div>
        </div>
        <div class="absolute w-20 h-20 -bottom-10 rounded-full bg-black centrer-absolute bg-neon-green flex">
            <span class="material-icons-round m-auto text-5xl">
                casino
                </span>
        </div>
    </div>
</div>
